/* Main Style */

body {
    background-color: teal;
    font-family: Arial, sans-serif;
  }

/* IDs */
  #quiz-header {
    text-align: center;
    background-color: navy;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(115, 185, 187);
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #question-1 {
    border-top-width: 2px;
  }

  #question-4 {
    border-bottom-width: 2px;
  }

  #submit-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  #submit-button:hover {
    background-color: darkblue;
  }

/* Classes */

.question {
  margin: 0;
  padding: 0 10px;
  font-size: 20px;
  border-style: solid;
  border-color: rgb(95, 91, 91);
  background-color: lightblue;
  border-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
  
}

.question-p {
    font-size: 110%;
}
.answer {
  margin-bottom: 5px;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

.answer:hover {
    border-color: black;
  }

/* selectAnswer() */

.selected {
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    background-color: yellow;
  }

  /* revealAnswer()*/

  .correct {
    background-color: lightgreen;
  }

  .wrong {
    background-color: tomato;
  }