/* Main Style */

body {
    background-color: teal;
    font-family: Arial, sans-serif;
  }

/* IDs */
  #quiz-header {
    text-align: center;
    background-color: navy;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(53, 131, 131);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #question-1 {
    border-top-width: 2px;
  }

  #question-4 {
    border-bottom-width: 2px;
  }

  #submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  #submit-button:hover {
    background-color: green;
  }

  #result {
    font-weight: bold;
    margin-top: 10px;
  }

/* Classes */

.question {
    
    margin: 0;
  padding: 0 10px;
  font-size: 20px;
  border-style: solid;
  border-color: rgb(95, 91, 91);
  background-color: lightblue;
  border-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
}

.question-p {
    font-size: 110%;
    border-bottom: 1px solid black;
}
.answer {
  margin-bottom: 5px;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
  flex-basis: calc(50% - 10px);
}

.answer:hover {
    border-color: black;
  }


  .answer-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

/* selectAnswer() */

.selected {
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    background-color: yellow;
  }

  /* revealAnswer()*/

  .correct {
    background-color: lightgreen;
  }

  .wrong {
    background-color: tomato;
  }

  /* Media-query tablets*/

  @media (max-width: 768px) {
    #quiz-container {
      padding: 10px;
      font-size: 16px;
    }
  }

  /* Media-query smartphones*/

  @media (max-width: 480px) {
    #quiz-container {
      padding: 5px;
      font-size: 14px;
    }
  
    #quiz-header {
      font-size: 36px;
    }
  }